<app-multi-select title="Domains">
  <app-multi-select-option value="option1">Option 1</app-multi-select-option>
  <app-multi-select-option value="option2">Option 2</app-multi-select-option>
  <app-multi-select-option value="option3">Option 3</app-multi-select-option>
  <app-multi-select-group value="Super Domains" [level]="1">
    <app-multi-select-option>Option 3</app-multi-select-option>
    <app-multi-select-option>Option 3</app-multi-select-option>
  </app-multi-select-group>
</app-multi-select>
